* {
  box-sizing: border-box;
}

body {
  background-color: #f9c784;
}

hr {
  margin: 0;
  color: white;
}

h2 {
  padding: 2%;
  font-family: "Lobster Two", cursive;
}

h5 {
  font-family: "Lobster Two", cursive;
}

section {
  color: white;
  background-color: #4e598c;
  margin: 20px;
  padding: 2px 10px;
  font-family: "Raleway", sans-serif;
}

#header-nav {
  background-color: #ff8c42;
}

.container {
  padding: 0;
  max-width: 90%;
}

.navbar-brand {
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: "Lobster Two", cursive;
}

.navbar-brand:hover {
  color: #f9c784;
}

.navbar-toggler {
  border: 1px solid #d3e8d6;
  color: transparent;
}

.fa-bars {
  color: white;
}

ul {
  margin: 0;
}

li {
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.navbar-collapse {
  background-color: #fcaf58;
}

.nav-link:focus {
  color: white;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  background-color: #fcaf58;
  color: white;
}

@media (max-width: 768px) {
  section {
    margin: 0 50px 20px 50px;
    padding: 5px 30px;
  }
}
